[mysqld_multi]
mysqld     = /usr/bin/mysqld_safe
mysqladmin = /usr/bin/mysqladmin
user       = root

[mysqld11]
socket     = /home/dplummer/src/hijacker/example/tmp/mysqld_multi.11.sock
port       = 3311
pid-file   = /home/dplummer/src/hijacker/example/tmp/mysql.11.pid
datadir    = /home/dplummer/src/hijacker/example/mysql/mysql11
slow-query-log-file=/home/dplummer/src/hijacker/example/tmp/log-slow-queries.log
innodb = OFF
default-storage-engine=MyISAM

[mysqld12]
socket     = /home/dplummer/src/hijacker/example/tmp/mysqld_multi.12.sock
port       = 3312
pid-file   = /home/dplummer/src/hijacker/example/tmp/mysql.12.pid
datadir    = /home/dplummer/src/hijacker/example/mysql/mysql12
slow-query-log-file=/home/dplummer/src/hijacker/example/tmp/log-slow-queries.log
innodb = OFF
default-storage-engine=MyISAM

[mysqld13]
socket     = /home/dplummer/src/hijacker/example/tmp/mysqld_multi.13.sock
port       = 3313
pid-file   = /home/dplummer/src/hijacker/example/tmp/mysql.13.pid
datadir    = /home/dplummer/src/hijacker/example/mysql/mysql13
slow-query-log-file=/home/dplummer/src/hijacker/example/tmp/log-slow-queries.log
innodb = OFF
default-storage-engine=MyISAM

[mysqld14]
socket     = /home/dplummer/src/hijacker/example/tmp/mysqld_multi.14.sock
port       = 3314
pid-file   = /home/dplummer/src/hijacker/example/tmp/mysql.14.pid
datadir    = /home/dplummer/src/hijacker/example/mysql/mysql14
slow-query-log-file=/home/dplummer/src/hijacker/example/tmp/log-slow-queries.log
innodb = OFF
default-storage-engine=MyISAM
